<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let curr of todolist;index as i">
      <td>{{curr.id}}</td>
      <td>{{curr.title}}</td>
      <td>{{curr.description}}</td>
      <td>{{curr.done}}</td>
      <td>
        <button class="btn btn-info" (click)="onUpdate(curr,i)">Update</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="onDelete(curr.id,i)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>